<div class="container pt-1">
  
  <?php if ($this->session->has('IS_LOGIN')) { ?>
    <nav class="container mt-2">
      <div class="row">
        <div class="col d-flex justify-content-end">
          <div class="align-self-center mr-4">
            <span class="h4"><?php echo $this->session->get('USER_NAME');?></span>
          </div>
          <div>
            <a href="/table/logout" class="btn btn-danger">Выйти</a>
          </div>
        </div>
      </div>
    </nav>   
  <?php } ?>

  <h3 id="title_name">Список продаж</h3>
  <?= $this->flash->output() ?>

  <?php if (!empty($data->count())) { ?>
    <table id="table_id" class="table table-hover shadow table-sm table-bordered text-center display">
      <thead class="thead-light">
        <tr>
          <th scope="col">№</th>
          <th scope="col">Дата</th>
          <th scope="col">Покупатель</th>
          <th scope="col">Автомобиль</th>
          <th scope="col">Цвет</th>
          <th scope="col">Цена ₽</th>
          <th scope="col">Консультант</th>
          <th scope="col"></th>
          <th scope="col" class="hover check-all">
            <input type="checkbox" id="check">
            <label for="check"></label>
          </th>
        </tr>
      </thead>
      <tbody>
        <?php foreach ($data as $item) { ?>
          <tr id="<?php echo $item->idSale ?>">
            <th scope="row"></th>
            <td name="date"><?= $item->date ?></td>
            <td name="buyer"><a href="/table/info/buyer/<?php echo $item->idSale ?>" onclick="newMyWindow(this.href); return false;"><?= $item->buyer->surname . " " . mb_substr($item->buyer->name, 0, 1) . ". " . mb_substr($item->buyer->patronymic, 0, 1) . "." ?></a></td>
            <td name="car"><?= $item->car->brand . " " . $item->car->model ?></td>
            <td name="colour"><?= $item->colour ?></td>
            <td name="price"><?= $item->price ?></td>
            <td name="consultant"><a href="/table/info/consultant/<?php echo $item->idSale ?>" onclick="newMyWindow(this.href); return false;"><?= $item->consultant->surname . " " . mb_substr($item->consultant->name, 0, 1) . ". " . mb_substr($item->consultant->patronymic, 0, 1) . "." ?></a></td>
            <td class="hover"><img src="<?php echo $this->url->get('img/Edit.png')?>" class="edit" alt="" data-toggle="modal" data-target="#exampleModalCentered"></td>
            <td class="hover"><input type="checkbox" class="check-acticle"></td>
          </tr>
        <?php } ?>
      </tbody>
    </table>

  <?php } else { ?>
    <hr>
    <div class="text-center">
      <h2 class="text-danger">Данные не найдены!</h2><br>
    </div>
  <?php } ?>

  <button class="btn btn-success w-100" id="add_button" data-toggle="modal" data-target="#exampleModalCentered">Добавить</button>
  <div id="delete_button"></div>
</div>

<!-- модальное окно -->
<div class="modal" id="exampleModalCentered" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenteredLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>

<script>
      
  // работа с таблицей (сортировка и поиск)
  $(document).ready( function () 
  {

      var t = $('#table_id').DataTable({
        "aoColumnDefs": [
          { 'bSortable': false, 'aTargets': [ 0, 7, 8 ] }
       ],
        "aaSorting": [[ 1, "desc" ]],
        paging: false,
        "language": 
        {
          "zeroRecords": "Ничего не найдено - извините",
          "info": "",
          "infoEmpty": "",
          "infoFiltered": "",
          "search":         "Поиск:",
        }

      });

      t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i + 1;
        });
      }).draw();
  });

  // Блокировка элемента вывода всех записей
  if(window.location.href.includes("filter"))
    $("#all_articles").removeClass('disabled');
  else 
    $("#all_articles").addClass('disabled');

  // откртытие нового окна браузера
  function newMyWindow(e) 
  {
    var h = 800, w = 800;
    window.open(e, '', 'scrollbars=1,height='+Math.min(h, screen.availHeight)+',width='+Math.min(w, screen.availWidth)+',left='+Math.max(0, (screen.availWidth - w)/2)+',top='+Math.max(0, (screen.availHeight - h)/2));
  }

  // идентификаторы отмеченных продаж
  var checked = "";

  // мультивыбока всех записей
  $('#check').change(function()
  {
    if ($(this).is(':checked'))
    {
      $("th.check-all").addClass("active");
      $('.check-acticle:not(:checked)').each(function()
      {
        $(this).trigger('click');
      });
    } 
    else 
    {
      $("th.check-all").removeClass("active");
      $('.check-acticle:checked').each(function()
      {
        $(this).trigger('click');
      });
    }
  });

  // инициализация кнопки "Удалить"
  $('.check-acticle').change(function()
  {
    if($('input:checkbox:checked').length > 0 && $("#delete").length === 0)
      $('#delete_button').append('<a href="" id="delete"><button type="button" class="btn btn-danger mt-2 w-100">Удалить</button></a>');
    else if($('input:checkbox:checked').length == 0)
      $('#delete').remove();
  });

  // передача выбранный id статей на удаление
  $("#delete_button").click(function()
  {          
    $('input:checkbox:checked').each(function() 
    {
      checked += $(this).parent().parent().attr("id") + "/";
      $('a[id=delete]').attr('href', '/table/delete/' + checked);
    });
  });

  // Разблокировка кнопки поиска
  $("#filter_key").change(function()
  {
    $("#search").prop('disabled', false);
  });

  // вызов окна для редактирования записей
  $("img.edit").click(function()
  {
    $('div.modal-body').empty();
    $('h5.modal-title').text("Изменить запись");

    $('div.modal-body').prepend('<form id="edit" method="POST" class="form"><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Покупатель</span></div><select class="custom-select" id="buyer" name="buyer">' +
      '<?php $buyer = Buyer::find(); 
      foreach($buyer as $item)
      {
        echo "<option value=" . $item->idBuyer . ">" . $item->surname . " " . mb_substr($item->name, 0, 1) . ". " . mb_substr($item->patronymic, 0, 1) . ".</option>"; 
      }
      ?>' + '</select></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Консультант</span></div><select class="custom-select" id="consultant" name="consultant">' +
      '<?php $consultant = Consultant::find(); 
      foreach($consultant as $item)
      {
        echo "<option value=" . $item->idConsultant . ">" . $item->surname . " " . mb_substr($item->name, 0, 1) . ". " . mb_substr($item->patronymic, 0, 1) . ".</option>"; 
      }
      ?>' + '</select></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Автомобиль</span></div><select class="custom-select" id="car" name="car">' +
      '<?php $car = Car::find(); 
      foreach($car as $item)
      {
        echo "<option value=" . $item->idCar . ">" . $item->brand . ' ' . $item->model . "</option>"; 
      }
      ?>' + '</select></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Дата</span></div><input name="date" id="date" type="date" class="form-control" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Цвет</span></div><input name="colour" id="colour" type="text" class="form-control" pattern="[А-Яа-яЁё\\s-]+$" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Цена ₽</span></div><input name="price" id="price" min="0" type="number" class="form-control" pattern="[0-9]{4, 8}" required></div><hr><div class="d-flex mt-2"><button type="button" class="btn btn-danger w-50 mr-1" data-dismiss="modal">Отмена</button><input type="submit" class="btn btn-primary w-50 ml-1" value="Сохранить"></div>');

    var value = $(this).parent().parent().attr("id");
    $("form[id=edit]").attr('action', '/table/edit/sale/' + value);
    $('select#buyer option').each(function()
    {
      $(this).removeAttr("selected")
    });

    $('select#consultant option').each(function()
    {
      $(this).removeAttr("selected")
    });

    $('select#car option').each(function()
    {
      $(this).removeAttr("selected")
    });

    $('select#buyer option').each(function()
    {
      if($(this).text() == $("table tr[id=" + value + "] td[name=buyer]").text())
      {
        $(this).attr("selected", "selected");
        return false;
      }
    });

    $('select#consultant option').each(function()
    {
      if($(this).text() == $("table tr[id=" + value + "] td[name=consultant]").text())
      {
        $(this).attr("selected", "selected");
        return false;
      }
    });

    $('select#car option').each(function()
    {
      if($(this).text() == $("table tr[id=" + value + "] td[name=car]").text())
      {
        $(this).attr("selected", "selected");
        return false;
      }
    });

    $("input#date").val($("table tr[id=" + value + "] td[name=date]").text()); 
    $("input#colour").val($("table tr[id=" + value + "] td[name=colour]").text()); 
    $("input#price").val($("table tr[id=" + value + "] td[name=price]").text());      
  });

  // вызов окна для добавление новых записей в таблицы
  $("#add_button").click(function()
  {
    $('div.modal-body').empty();
    $('h5.modal-title').text("Добавить запись");
    $('div.modal-body').prepend('<form id="add" method="POST" class="form"><select id="modal" class="custom-select"><option value="sale">Продажи</option><option value="buyer">Покупатели</option><option value="car">Автомобили</option></select><hr><div class="d-flex"><button type="button" class="btn btn-danger w-50 mr-1" data-dismiss="modal">Отмена</button><input type="submit" class="btn btn-primary w-50 ml-1" value="Сохранить"></div></form><div class="adding_form"></div>');
    $("select#modal").trigger('change');          
  });

  // формирование контента формы в зависимости от выбранной таблицы
  $(".modal-body").on('change', '.form select#modal', function(e)
  {    
    $('.adding_form').empty();
    switch (e.target.value)
    {
      case "sale":
      {
        $('form[id=add]').attr('action', '/table/add/sale');
        $('.modal-body hr').after('<div class="adding_form"><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Покупатель</span></div><select class="custom-select" name="buyer">' +
          '<?php $buyer = Buyer::find(); 
          foreach($buyer as $item)
          {
            echo "<option value=" . $item->idBuyer . ">" . $item->surname . " " . mb_substr($item->name, 0, 1) . ". " . mb_substr($item->patronymic, 0, 1) . ".</option>"; 
          }
          ?>' + '</select></div>' +

          '<div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Консультант</span></div><select class="custom-select" name="consultant">' +
          '<?php $consultant = Consultant::find(); 
          foreach($consultant as $item)
          {
            echo "<option value=" . $item->idConsultant . ">" . $item->surname . " " . mb_substr($item->name, 0, 1) . ". " . mb_substr($item->patronymic, 0, 1) . ".</option>"; 
          }
          ?>' + '</select></div>' +

          '<div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Автомобиль</span></div><select class="custom-select" name="car">' +
          '<?php $car = Car::find(); 
          foreach($car as $item)
          {
            echo "<option value=" . $item->idCar . ">" . $item->brand . ' ' . $item->model . ' ' . "</option>"; 
          }
          ?>' + '</select></div>' +

          '<div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Дата</span></div><input name="date" type="date" class="form-control" required></div>' + 
          '<div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Цвет</span></div><input name="colour" type="text" class="form-control" pattern="[А-Яа-яЁё\\s-]+$" required></div>' +
          '<div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Цена ₽</span></div><input name="price" min="0" type="number" class="form-control" pattern="[0-9]{4, 8}" required></div><hr></div>'
          );       
      } break;

      case "buyer":
      {
        $('form[id=add]').attr('action', 'table/add/buyer');
        $('.modal-body hr').after('<div class="adding_form"><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Фамилия</span></div><input name="surname" type="text" class="form-control" pattern="[А-Яа-яЁё\\s-]+$" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Имя</span></div><input name="name" type="text" class="form-control" pattern="[А-Яа-яЁё\\s-]+$" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Отчество</span></div><input name="patronymic" type="text" class="form-control" pattern="[А-Яа-яЁё\\s-]+$" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Серия паспорта</span></div><input name="passportSeries" type="nubmer" min="0" class="form-control" pattern="[0-9]{4}" placeholder="1234" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Номер паспорта</span></div><input name="passportNumber" type="nubmer" min="0" class="form-control" pattern="[0-9]{6}" placeholder="123456" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Город</span></div><input name="city" type="text" class="form-control" pattern="[А-Яа-яЁё\\s-]+$" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Улица</span></div><input name="street" type="text" class="form-control" pattern="[А-Яа-яЁё\\s-]+$" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Дом №</span></div><input name="house" type="nubmer" min="0" class="form-control" pattern="[0-9]{1,3}" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Квартира</span></div><input name="flat" type="nubmer" min="0" class="form-control" pattern="[0-9]{1,3}" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Телефон</span></div><input name="phone" type="nubmer" min="0" class="form-control" pattern="[0-9]{11}" placeholder="8800123456" required></div><hr></div>');
      } break;
      
      case "car":
      {
        $('form[id=add]').attr('action', 'table/add/car' );
        $('.modal-body hr').after('<div class="adding_form"><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Марка</span></div><input name="brand" type="text" class="form-control" required></div><div class="mt-2 input-group"><div class="input-group-prepend"><span class="input-group-text">Модель</span></div><input name="model" type="text" class="form-control" required></div><hr></div>');
      } break;
    }
  });


</script>





