<div class="container h-100">
    <div class="row h-100 d-flex align-items-center justify-content-between">
        <div class="col text-left">
            <?= $this->flash->output() ?>
            <table class="table table-striped shadow table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">ФИО</th>
                        <td><?php echo $user->surname ." ". $user->name ." ". $user->patronymic; ?></td>
                    </tr>
                    <tr>
                        <th scope="row">Адрес</th>
                        <td><?php echo "г. " . $user->city ." ул. ". $user->street ." д. ". $user->house ." кв. ". $user->flat; ?></td>
                    </tr>
                    <tr>
                        <th scope="row">Телефон</th>
                        <td><?php echo $user->phone[0] . " (" . mb_substr($user->phone, 1, 3) . ") " .  mb_substr($user->phone, 4, 3)  . "-" . mb_substr($user->phone, 7, 2) . "-" . mb_substr($user->phone, 9); ?></td>
                    </tr>
                    <?php 
                        if(isset($user->standing)) 
                            echo '<tr><th scope="row">Стаж (лет)</th><td>' . $user->standing . '</td></tr><tr><th scope="row">Дата рождения</th><td>' . $user->dateOfBirth .'</td></tr>';
                        else
                            echo '<tr><th scope="row">Паспорт</th><td>' . $user->passportSeries . ' ' . $user->passportNumber .'</td></tr>';
                    ?>
               </tbody>
           </table>
            <button id="edit_button" class="btn btn-primary w-100" data-toggle="modal" data-target="#exampleModalCentered">Изменить данные</button>
            <button class="btn btn-danger w-100 mt-2" onclick="window.close();">Закрыть окно</a>
       </div>
    </div>
</div>

<!-- модальное окно -->
<div class="modal" id="exampleModalCentered" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenteredLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" class="form">
            <div id="add"></div>
            <hr><div class="d-flex">
                <button type="button" class="btn btn-danger w-50 mr-1" data-dismiss="modal">Отмена</button>
                <input type="submit" class="btn btn-primary w-50 ml-1" value="Сохранить">
            </div>
        </form>          
      </div>
    </div>
  </div>
</div>

<script>
    
    <?php $id = basename(parse_url($_SERVER['REQUEST_URI'], PHP_URL_PATH)); ?>

    $("#edit_button").click(function()
    {
        $("#add").empty();
       

        $('h5.modal-title').text("Изменить данные");
        $('div.modal-body').prepend('');

        <?php $user = Sale::findFirst("idSale='" . $id . "'"); ?>

        if(window.location.href.includes("buyer"))
        {
            $("form").attr('action', '/table/edit/buyer/' + <?php echo $id ?>);
            $("#add").prepend('<div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Фамилия</span></div><input name="surname" type="text" class="form-control" pattern="[А-Яа-яЁё\\s-]+$" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Имя</span></div><input name="name" type="text" class="form-control" pattern="[А-Яа-яЁё\\s-]+$" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Отчество</span></div><input name="patronymic" type="text" class="form-control" pattern="[А-Яа-яЁё\\s-]+$" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Серия паспорта</span></div><input name="passportSeries" type="nubmer" min="0" class="form-control" pattern="[0-9]{4}" placeholder="1234" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Номер паспорта</span></div><input name="passportNumber" type="nubmer" min="0" class="form-control" pattern="[0-9]{6}" placeholder="123456" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Город</span></div><input name="city" type="text" class="form-control" pattern="[А-Яа-яЁё\\s-]+$" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Улица</span></div><input name="street" type="text" class="form-control" pattern="[А-Яа-яЁё\\s-]+$" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Дом №</span></div><input name="house" type="nubmer" min="0" class="form-control" pattern="[0-9]{1,3}" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Квартира</span></div><input name="flat" type="nubmer" min="0" class="form-control" pattern="[0-9]{1,3}" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Телефон</span></div><input name="phone" type="nubmer" min="0" class="form-control" pattern="[0-9]{11}" placeholder="8800123456" required></div>');

                $("input[name=name]").val('<?php echo $user->buyer->name; ?>');
                $("input[name=surname]").val('<?php echo $user->buyer->surname; ?>');
                $("input[name=patronymic]").val('<?php echo $user->buyer->patronymic; ?>');
                $("input[name=passportSeries]").val('<?php echo $user->buyer->passportSeries; ?>');
                $("input[name=passportNumber]").val('<?php echo $user->buyer->passportNumber; ?>');
                $("input[name=city]").val('<?php echo $user->buyer->city; ?>');
                $("input[name=house]").val('<?php echo $user->buyer->house; ?>');            
                $("input[name=street]").val('<?php echo $user->buyer->street; ?>');
                $("input[name=flat]").val('<?php echo $user->buyer->flat; ?>');
                $("input[name=phone]").val('<?php echo $user->buyer->phone; ?>');
        }
        else
        {
            $("form").attr('action', '/table/edit/consultant/' + <?php echo $id ?>);
            $("#add").prepend('<div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Фамилия</span></div><input name="surname" type="text" class="form-control" pattern="[А-Яа-яЁё\\s-]+$" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Имя</span></div><input name="name" type="text" class="form-control" pattern="[А-Яа-яЁё\\s-]+$" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Отчество</span></div><input name="patronymic" type="text" class="form-control" pattern="[А-Яа-яЁё\\s-]+$" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Дата рождения</span></div><input name="dateOfBirth" type="date" class="form-control" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Город</span></div><input name="city" type="text" class="form-control" pattern="[А-Яа-яЁё\\s-]+$" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Улица</span></div><input name="street" type="text" class="form-control" pattern="[А-Яа-яЁё\\s-]+$" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Дом №</span></div><input name="house" type="nubmer" min="0" class="form-control" pattern="[0-9]{1,3}" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Квартира</span></div><input name="flat" type="nubmer" min="0" class="form-control" pattern="[0-9]{1,3}" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Телефон</span></div><input name="phone" type="nubmer" min="0" class="form-control" pattern="[0-9]{11}" placeholder="8800123456" required></div><div class="input-group"><div class="input-group-prepend"><span class="input-group-text">Стаж</span></div><input name="standing" type="nubmer" min="0" class="form-control" pattern="[0-9]{1,2}" required></div>');

                $("input[name=name]").val('<?php echo $user->consultant->name; ?>');
                $("input[name=surname]").val('<?php echo $user->consultant->surname; ?>');
                $("input[name=patronymic]").val('<?php echo $user->consultant->patronymic; ?>');
                $("input[name=standing]").val('<?php echo $user->consultant->standing; ?>');
                $("input[name=dateOfBirth]").val('<?php echo $user->consultant->dateOfBirth; ?>');
                $("input[name=city]").val('<?php echo $user->consultant->city; ?>');
                $("input[name=house]").val('<?php echo $user->consultant->house; ?>');            
                $("input[name=street]").val('<?php echo $user->consultant->street; ?>');
                $("input[name=flat]").val('<?php echo $user->consultant->flat; ?>');
                $("input[name=phone]").val('<?php echo $user->consultant->phone; ?>');
        }
    });
    
</script>
